#header{
    background-color: var(--secondaryColor);
    padding: 10px 0;
}
#header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

#header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header nav ul li{
    color: #fff;
    padding: 5px;
    margin: 5px;
    position: relative;
    transition: all .5s ease;
}
#header nav ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    padding: 2px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;
}
#header nav ul li:hover > a, #header nav ul li .active{
    color: var(--primaryColor);
    border-bottom: 2px solid var(--primaryColor);
}
#header nav ul li ul{
    list-style-type: none;
    position: absolute;
    min-width: 150px;
    width: max-content;
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
    background-color: var(--primaryColor);
    box-shadow: 0 5px 10px 0 rgba(#000, .2);
    left: -9999px;
    z-index: 10;
}
#header nav ul li:hover ul{
    left: 50%;
    transform: translateX(-50%);
    display: block;
}
#header nav ul li ul li{
    padding: 7px;
}
#header nav ul li ul li a{
    color: #333;
}
#header nav ul li ul li:hover > a, #header nav ul li ul li .active{
    color: #fff;
    border-bottom: 2px solid #fff;
}

ul .menu-item-has-children >a::after{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 3.5px;
    vertical-align: 1.5px;
    border-top: 7px solid;
    border-right: 6.5px solid transparent;
    border-bottom: 0;
    border-left: 6.5px solid transparent;
}