@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primaryColor: #61DAFB;
    --secondaryColor: #282C34;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

.flexCenter{
    min-height: calc(100vh - 86px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-align: center;
}

.centerCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button{
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
}

.buttonRadius{
    font-size: 14px;
    border-radius: 100px;
}